// app global css in SCSS form
body {
  overflow-y: hidden;

  #q-app {
    display: flex;
    justify-content: center;
  }

  .flex {
    display: flex;
  }

  ul {
    width: 100%;
    list-style: none;
    color: white;
    font-weight: 400;
    li {
      margin: 2% 0;
    }
  }
}

// Load local font
@font-face {
  font-family: 'pixelify';
  src: url('/assets/font/PixelifySans-Regular.ttf');
  font-weight: 400;
  font-weight: normal;
}
