// app global css in SCSS form
body {
  overflow-y: hidden;

  #q-app {
    display: flex;
    justify-content: center;
  }
}

// Load local font
@font-face {
  font-family: 'pixelify';
  src: url('/assets/font/PixelifySans-Regular.ttf');
  font-weight: 400;
  font-weight: normal;
}
